#!/usr/bin/env nextflow

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

nextflow.enable.dsl = 2
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

process {

	//Docker containers for running specific processess
	
    withName:downloadSRAdata {
        container = 'hfkroes/downloader'
    }
    withName:downloadGDCdata {
        container = 'hfkroes/downloader'
    }
    withName:grepGeneFPKM {
        container = 'hfkroes/bioconductor'
    }
    withName:reportCorrelations {
        container = 'hfkroes/bioconductor'
    }

}


