#!/usr/bin/env nextflow

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

nextflow.enable.dsl = 2
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

process {

	//Docker containers for running specific processess
	
    withName:downloadSRAdata {
        container = 'hfkroes/swiswncpx-downloader'
    }
    withName:downloadGDCdata {
        container = 'hfkroes/swiswncpx-downloader'
    }
    withName:grepGeneFPKM {
        container = 'hfkroes/swiswncpx-bioconductor'
    }
    withName:reportCorrelations {
        container = 'hfkroes/swiswncpx-bioconductor'
    }
    withName:allignData {
        container = 'hfkroes/swiswncpx-rnaseq'
    }

}

executor {

    retry.maxAttempts = 5
}

